/*----------------- Peter Heck -----------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------------- My Styles -----------------*/
/*----------------- Import Font -----------------*/
@import url(https://fonts.google.com/share?selection.family=Molle:ital@1%7CMontserrat);

/*----------------- General Styling -----------------*/

:root {
	/*----------------- Colors ------------------*/
	--yellow: #F6D64A;
	--teal: #55BCD5;
	--purple: #9B26B0;
	--blue: #499BD2;
	--darkGray: #222222;
	--lightGray: #EAEAEA;
	--white: #FFFFFF;
	--black: #000000;
}

h1, h2, h3 {
	font-family: "Molle";
}

h4, p, q, small, nav, button, form {
	font-family: "Montserrat";
}

h1 {
	font-size: 4em;
	font-weight: bold;
}

h2 {
	font-size: 3.5em;
	font-weight: bold;
}

h3 {
	font-size: 2.5em;
	font-weight: bold;
}

h4 {
	font-size: 2em;
	font-weight: bold;
}

p {
	line-height: 1.5;
	font-size: 1.5em;
}

a {
	text-decoration: none;
	color: var(--black);
}

a:visited {
	color: var(--black);
}

#skip {
	overflow: hidden;
	position: absolute;
	left: -100000px;
}

#skip:focus {
	position: static;
	width: auto;
	height: auto;
}

header {
	background: linear-gradient(var(--teal), var(--white));
}

#menu-toggle h2 {
	overflow: hidden;
	position: absolute;
	left: -1000000px;
}

#menu-toggle input {
	display: none;
}

main article {
	display: grid;
	grid-template-rows: repeat(5, auto);
}

#plan {
	background-color: var(--yellow);
}

#about {
	background-color: var(--blue);
}

#contact input, #contact select {
	border: 4px solid var(--purple);
}

.required {
	color: var(--purple);
}

/*--------------------- Small Screen ----------------------*/

@media  (min-width: 620px) {
	body {
		width: 620px;
		margin: auto;
	}

	/*------------------- Menu -------------------*/

	#menu-toggle label {
		display: block;
	}

	#menu-toggle ul {
		visibility: hidden;
		position: fixed;
		top: -100%;
		left: -100%;
		width: 620px;
		z-index: 99;
		display: grid;
		grid-template-rows: repeat(4, 1fr);
		justify-content: center;
	}

	#menu-toggle ul li {
		border-bottom: 0.5px solid var(--black);
		width: 620px;
		padding-top: 25px;
		padding-bottom: 25px;
		text-align: center;
		color: var(--black);
		background-color: var(--blue);
		text-transform: uppercase;
		position: relative;
		left: -15px;
	}

	#menu-toggle input:checked ~ ul {
		visibility: visible;
		position: absolute;
		top: 65px;
		height: auto;
		left: 0;
		margin: auto;
		z-index: 99;
	}

	#menu-toggle input:checked ~ label {
		position: fixed;
		top: 0;
		left: -115px;
		margin-top: 0;
		width: 620px;
		text-align: center;
		height: auto;
		z-index: 100;
		padding-top: 25px;
		padding-bottom: 25px;
		background-color: var(--black);
		color: var(--white);
		text-transform: uppercase;
	}

	/*----------------- Header -----------------*/

	header {
		padding-left: auto;
		display: grid;
		grid-template-areas:
			"logo menu1"
			"h1 h1"
			"h1p h1p";
		padding-bottom: 50px;
	}

	#logo {
		grid-area: logo;
	}

	#menu-toggle label {
		position: relative;
		grid-area: menu1;
		text-transform: uppercase;
		background-color: var(--yellow);
		font-weight: bold;
		padding-left: 100px;
		padding-right: 100px;
		margin-right: 50px;
		padding-top: 20px;
		padding-bottom: 20px;
		margin-top: 30px;
		left: -30px;
	}

	header h1 {
		grid-area: h1;
		position: relative;
		left: 30px;
		margin-top: 20px;
	}

	header p {
		grid-area: h1p;
		position: relative;
		left: 30px;
		width: 400px;
	}

	/*----------------- Intro -----------------*/

	#intro {
		width: 560px;
		position: relative;
		left: 30px;
	}

	#img-grid {
		position: relative;
		left: -30px;
	}

	#img-grid img {
		width: 620px;
		padding-top: 20px;
	}

	/*----------------- Plan -----------------*/

	#plan {
		padding-top: 40px;
		padding-bottom: 40px;
		margin-top: 40px;
	}

	#plan h3 {
		text-align: center;
	}

	#plan div {
		display: grid;
		grid-template-rows: repeat(4, 1fr);
		width: 620px;
		justify-content: center;
	}

	#plan div section {
		background-color: var(--teal);
		border: 5px solid var(--white);
		border-radius: 25px;
		padding: 20px 100px 0px;
		margin-top: 20px;
		height: 400px;
		text-align: center;
	}

	#plan div section h4 {
		padding-bottom: 40px;
	}

	#plan div section a img {
		height: 250px;
	}

	/*----------------- Testimonials -----------------*/

	#testimonials {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	#testimonials h3 {
		text-align: center;
	}

	#testimonials div {
		width: 580px;
		margin: auto;
		display: grid;
		grid-template-rows: repeat(4, 1fr);
		justify-content: center;
	}

	#testimonials section {
		padding-top: 20px;
		width: 300px;
		text-align: center;
	}

	#testimonials section h4 {
		text-transform: uppercase;
	}

	#testimonials section p {
		font-size: 1.25em;
	}

	#testimonials section q {
		font-style: italic;
		font-size: 1.25em;
	}

	/*----------------- About -----------------*/

	#about {
		padding: 40px 0;
	}

	#about h3 {
		width: 540px;
		text-align: center;
	}

	#about div {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	#about div section {
		padding-top: 20px;
		text-align: center;
	}

	/*----------------- Contact -----------------*/

	#contact {
		padding-top: 40px;
		padding-bottom: 20px;
	}

	#contact h3 span {
		font-family: "Montserrat";
		font-weight: normal;
		font-size: 0.5em;
		font-style: italic;
	}

	#contact h3 {
		text-align: center;
		padding-bottom: 30px;
	}

	#contact form {
		display: grid;
		grid-template-rows: repeat(3, auto);
	}

	#names {
		display: flex;
		flex-direction: column;
		width: 480px;
		padding-left: 70px;
	}

	#names label {
		font-size: 1.5em;
		text-transform: uppercase;
		font-weight: bold;
	}

	#names input {
		height: 75px;
		font-size: 1.5em;
		margin-bottom: 40px;
	}

	#nums {
		display: flex;
		flex-direction: column;
		width: 480px;
		padding-left: 70px;
	}

	#nums fieldset {
		display: flex;
		flex-direction: column;
	}

	#nums > input {
		height: 75px;
		font-size: 1.5em;
		margin-bottom: 40px;
	}

	#nums label {
		font-size: 1.5em;
		text-transform: uppercase;
		font-weight: bold;
	}

	#nums fieldset label {
		padding-bottom: 20px;
		text-transform: capitalize;
		font-weight: normal;
	}

	#nums fieldset label input {
		height: 60px;
		width: 60px;
		position: relative;
		top: 20px;
		accent-color: var(--purple);
	}

	#nums fieldset {
		padding-bottom: 15px;
	}

	#nums legend {
		font-size: 1.5em;
		text-transform: uppercase;
		font-weight: bold;
	}

	#selects {
		width: 480px;
		padding-left: 70px;
	}

	#selects > label {
		font-size: 1.5em;
		text-transform: uppercase;
		font-weight: bold;
	}

	#selects div select {
		height: 75px;
		font-size: 1.5em;
		margin-bottom: 40px;
		width: 480px;
	}

	#selects #mySubmit {
		background-color: var(--purple);
		color: var(--white);
		font-size: 1.5em;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 0.1em;
		width: 480px;
		height: 100px;
	}

	/*----------------- Footer -----------------*/

	footer {
		background-color: var(--lightGray);
		padding-top: 30px;
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	footer p {
		font-size: 1em;
		padding-bottom: 20px;
	}

	footer a {
		font-family: "Montserrat";
		padding-bottom: 20px;
	}
}

/*----------------- Medium Screen -----------------*/

@media (min-width: 1080px) {
	body {
		width: 1080px;
		margin: auto;
	}

	/*----------------- Header -----------------*/

	header {
		display: grid;
		grid-template-areas:
			"logo heading heading heading"
			"logo descrip descrip descrip"
			"nav nav nav nav";
		padding-top: 20px;
		padding-bottom: 60px;
	}

	header #logo {
		grid-area: logo;
		margin-top: 40px;
	}

	#logo img {
		width: 300px;
	}

	header h1 {
		grid-area: heading;
		position: relative;
		left: -750px;
		margin-top: 50px;
		padding-bottom: 20px;
	}

	header p {
		grid-area: descrip;
		position: relative;
		left: -750px;
		width: 700px;
	}

	#menu-toggle label {
		display: none;
	}

	#menu-toggle ul {
		grid-area: nav;
		visibility: visible;
		position: relative;
		top: auto;
		left: auto;
		width: 1080px;
		z-index: 99;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto;
		justify-content: center;
		padding-top: 50px;
	}

	#menu-toggle ul li {
		border-bottom: none;
		width: 200px;
		padding-top: 25px;
		padding-bottom: 25px;
		text-align: center;
		color: var(--black);
		background-color: var(--white);
		text-transform: uppercase;
		font-weight: bold;
		position: relative;
		justify-self: center;
	}

	#menu-toggle ul .active {
		background-color: var(--yellow);
	}

	/*----------------- Intro -----------------*/

	article {
		width: 1080px;
	}

	#intro {
		width: 900px;
		justify-self: center;
	}

	#img-grid {
		width: 900px;
		display: grid;
		grid-template-areas:
			"img1 img2"
			"picture picture";
	}

	#img-grid > img {
		width: 435px;
		justify-self: center;
		padding-left: 30px;
	}

	#img-grid img:first-child {
		grid-area: img2;
	}

	#img-grid img::nth-child(2) {
		grid-area: img1;
	}

	#img-grid picture {
		grid-area: picture;
	}

	#img-grid picture img {
		width: 900px;
		justify-self: center;
		padding-left: 30px;
	}

	/*----------------- Plan -----------------*/

	#plan {
		width: 1080px;
		height: auto;
		padding-bottom: 40px;
	}

	#plan div {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		position: relative;
		
	}

	#plan div section {
		background-color: var(--teal);
		border: 5px solid var(--white);
		border-radius: 25px;
		padding: 20px 0px 0px;
		margin-top: 20px;
		height: 400px;
		width: 450px;
		text-align: center;
		position: relative;
		left: 220px;
	}

	#plan div section:nth-child(even) {
		margin-left: 20px;
	}

	/*----------------- Testimonials -----------------*/

	#testimonials {
		width: 1080px;
		height: auto;
		padding-bottom: 40px;
	}

	#testimonials div {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		position: relative;
		
	}

	#testimonials div section {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	#testimonials div section:nth-child(odd) {
		margin-right: 80px;
	}

	#testimonials div section:nth-child(even) {
		margin-left: 20px;
	}

	/*----------------- About -----------------*/

	#about {
		width: 1080px;
	}

	#about h3 {
		padding-left: 50px;
	}

	#about div {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}

	/*----------------- Contact -----------------*/

	#contact {
		padding-top: 40px;
		padding-bottom: 20px;
		width: 1080px;
	}

	#contact h3 span {
		font-family: "Montserrat";
		font-weight: normal;
		font-size: 0.5em;
		font-style: italic;
	}

	#contact h3 {
		text-align: center;
		padding-bottom: 30px;
	}

	#contact form {
		display: grid;
		grid-template-rows: repeat(3, auto);
	}

	#names {
		display: flex;
		flex-direction: column;
		width: 950px;
		padding-left: 70px;
	}

	#names label {
		font-size: 1.5em;
		text-transform: uppercase;
		font-weight: bold;
	}

	#names input {
		height: 75px;
		font-size: 1.5em;
		margin-bottom: 40px;
	}

	#nums {
		display: flex;
		flex-direction: column;
		width: 950px;
		padding-left: 70px;
	}

	#nums fieldset {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	#nums > input {
		height: 75px;
		font-size: 1.5em;
		margin-bottom: 40px;
	}

	#nums label {
		font-size: 1.5em;
		text-transform: uppercase;
		font-weight: bold;
	}

	#nums fieldset label {
		padding-bottom: 20px;
		text-transform: capitalize;
		font-weight: normal;
		position: relative;
		top: -10px;
	}

	#nums fieldset label input {
		height: 100px;
		width: 100px;
		position: relative;
		top: 40px;
		accent-color: var(--purple);
	}

	#nums fieldset {
		padding-bottom: 40px;
	}

	#nums legend {
		font-size: 1.5em;
		text-transform: uppercase;
		font-weight: bold;
	}

	#selects {
		width: 950px;
		padding-left: 70px;
	}

	#selects > label {
		font-size: 1.5em;
		text-transform: uppercase;
		font-weight: bold;
	}

	#selects div select {
		height: 75px;
		font-size: 1.5em;
		margin-bottom: 40px;
		width: 950px;
	}

	#selects #mySubmit {
		background-color: var(--purple);
		color: var(--white);
		font-size: 1.5em;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 0.1em;
		width: 480px;
		height: 100px;
		position: relative;
		left: 470px;
	}

	/*----------------- Footer -----------------*/

	footer {
		background-color: var(--lightGray);
		padding-top: 30px;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		text-align: center;
	}

	footer p {
		font-size: 1em;
		padding-bottom: 20px;
	}

	footer a {
		font-family: "Montserrat";
		padding-bottom: 20px;
	}
}

/*----------------- Large Screen -----------------*/

@media (min-width: 1920px) {
	#menu-toggle label {
		display: none;
	}

	body {
		width: 1920px;
	}

	/*----------------- Header -----------------*/

	header {
		width: 1920px;
		grid-template-areas:
			"logo title navig navig"
			"logo description description description";
	}

	header #logo img {
		grid-area: logo;
		height: 200px;
		width: auto;
	}

	header h1 {
		grid-area: title;
		position: relative;
		left: -100px;
		top: 50px;
	}

	header p {
		grid-area: description;
		position: relative;
		left: -100px;
		width: 800px;
	}

	#menu-toggle ul {
		grid-area: navig;
		visibility: visible;
		position: relative;
		top: -20px;
		left: 102px;
		width: auto;
		z-index: 99;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto;
		justify-content: center;
		padding-top: 0px;
	}

	#menu-toggle ul li {
		border-bottom: none;
		width: 200px;
		padding-top: 15px;
		padding-bottom: 15px;
		text-align: center;
		color: var(--black);
		background-color: var(--white);
		text-transform: uppercase;
		font-weight: bold;
		position: relative;
		justify-self: center;
	}

	#menu-toggle ul .active {
		background-color: var(--yellow);
	}

	/*----------------- Intro -----------------*/
	article {
		width: 1920px;
	}

	#intro {
		width: 1860px;
		padding-top: 30px;
		display: grid;
		grid-template-areas: 
			"title images"
			"para images";
	}

	#intro h2 {
		grid-area: title;
	}

	#intro p {
		grid-area: para;
		position: relative;
		top: -225px;
		margin-right: 70px;
	}

	#intro div {
		grid-area: images;
		padding-right: 50px;
	}

	/*----------------- Plan -----------------*/

	#plan {
		width: 1720px;
		padding: 100px;
	}

	#plan h3 {
		text-align: left;
		position: relative;
		left: 10px;
	}

	#plan div {
		width: 1720px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	#plan div section {
		background-color: var(--teal);
		border: 5px solid var(--white);
		border-radius: 25px;
		padding: 20px 0px 0px;
		margin-top: 20px;
		height: 350px;
		width: 400px;
		text-align: center;
		position: relative;
		left: 0px;
	}

	#plan div section:nth-child(even) {
		margin-left: 0px;
	}

	/*----------------- Testimonials -----------------*/

	#testimonials {
		width: 1720px;
		padding-top: 150px;
		padding-bottom: 150px;
	}

	#testimonials h3 {
		text-align: left;
		margin-left: 150px;
	}

	#testimonials div {
		width: 1720px;
		margin-left: 150px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		justify-content: center;
	}

	/*----------------- About -----------------*/

	#about {
		width: 1720px;
		padding: 100px;
	}

	#about h3 {
		text-align: left;
		padding-bottom: 50px;
	}

	/*----------------- Contact -----------------*/

	#contact {
		padding-top: 50px;
		padding-bottom: 50px;
		width: 1920px;
	}

	#contact h3 span {
		font-family: "Montserrat";
		font-weight: normal;
		font-size: 0.5em;
		font-style: italic;
	}

	#contact h3 {
		text-align: center;
		padding-bottom: 30px;
	}

	#contact form {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-content: left;
		position: relative;
		left: -50px;
	}

	#names {
		display: flex;
		flex-direction: column;
		width: 580px;
		padding-left: 70px;
	}

	#names label {
		font-size: 1.5em;
		text-transform: uppercase;
		font-weight: bold;
	}

	#names input {
		height: 75px;
		font-size: 1.5em;
	}

	#nums {
		display: flex;
		flex-direction: column;
		width: 580px;
		padding-left: 70px;
	}

	#nums fieldset {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	#nums > input {
		height: 75px;
		font-size: 1.5em;
		margin-bottom: 40px;
	}

	#nums label {
		font-size: 1.5em;
		text-transform: uppercase;
		font-weight: bold;
	}

	#nums fieldset label {
		padding-bottom: 20px;
		text-transform: capitalize;
		font-weight: normal;
		position: relative;
		top: -10px;
	}

	#nums fieldset label input {
		height: 70px;
		width: 70px;
		position: relative;
		top: 20px;
		accent-color: var(--purple);
	}

	#nums fieldset {
		padding-bottom: 20px;
	}

	#nums legend {
		font-size: 1.5em;
		text-transform: uppercase;
		font-weight: bold;
	}

	#selects {
		width: 580px;
		padding-left: 70px;
	}

	#selects > label {
		font-size: 1.5em;
		text-transform: uppercase;
		font-weight: bold;
	}

	#selects div select {
		height: 75px;
		font-size: 1.5em;
		margin-bottom: 40px;
		width: 580px;
	}

	#selects #mySubmit {
		background-color: var(--purple);
		color: var(--white);
		font-size: 1.5em;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 0.1em;
		width: 400px;
		height: 75px;
		position: relative;
		left: 180px;
		top: 40px;
	}
}